*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-main);
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

img {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: url(../../img/product/marker-black.png);
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

.button {
  width: 282px;
  background: #ff7a00;
  border: none;
  border-radius: 30px;
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px 0;
}

.button__image {
  margin-right: 7px;
}

.button:hover {
  box-shadow: 0px 0px 30px rgba(255, 122, 0, 0.63);
}