.footer {
  background-color: var(--background-color-black);
}

.footer__container {
  padding-top: 56px;
  padding-bottom: 62px;
}

.logo__text {
  font-size: 11px;
}

@media screen and (max-width: 1200px) {
  .footer__container {
    padding: 40px 15px;
  }
}