.header__container {
  padding: 40px 0;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.header__logo {
  font-size: 11px;
  color: #000000;
  margin-left: 10px;
}

.logo__text {
  margin-left: 5px;
}

@media screen and (max-width: 1200px) {
  .header__container {
    padding: 40px 15px;
  }
}
