.products {
  overflow: hidden;
}

.products__container {
  padding-top: 40px;
  padding-bottom: 65px;
}

.products__title {
  font-size: 40px;
  margin: 0;
  margin-bottom: 20px;
}

.products__list {
  display: flex;
  margin-bottom: 41px;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 363px;
  margin-right: 27px;
  padding: 40px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 0px 30px rgba(188, 188, 188, 0.25);
  border-radius: 10px;
  list-style: none;
}

.product__item__title {
  margin: 0;
  margin-bottom: 10px;
}

.description-list {
  padding-left: 23px;
  margin-bottom: 32px;
  line-height: 132.4%;
}

.product__item__image-wrapper {
  margin-bottom: 10px;
}

.product__item__image {
  max-width: 276px;
  min-height: 268px;
}

.product__swipe-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__swipe-wrap::before,
.product__swipe-wrap::after {
  border: 1px solid #e2e2e2;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product__swipe-wrap::before {
  content: url(../../img/arrow-left.png);
  margin-right: 95px;
}

.product__swipe-wrap::after {
  content: url(../../img/arrow-right.png);
  margin-left: 95px;
}

.product__swipe {
  font-size: 20px;
  color: #e2e2e2;
}

.product__swipe:first-letter {
  font-size: 28px;
  color: #1e1e1e;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .products__container {
    padding: 40px 0px 65px 15px;
  }
}

@media screen and (max-width: 768px) {
  .products__container {
    padding: 30px 0px 50px 15px;
  }

  .product__item {
    align-items: center;
    min-width: 310px;
    margin-right: 20px;
    padding: 20px;
  }

  .product__item__image {
    max-width: 210px;
    min-height: 200px;
  }
}


@media screen and (max-width: 640px) {
  .products__container {
    padding: 30px 0px 20px 15px;
  }

  .product__swipe-wrap {
    display: none;
  }

  .product__button {
    border-radius: 30px;
    width: 232px;
  }
}


@media screen and (max-width: 480px) {

  .product__item {
    min-width: 264px;
    margin-right: 20px;
    padding: 20px;
  }

  .product__item__image {
    max-width: 166px;
    min-height: 160px;
  }

  .product__item__title {
    font-size: 16px;
  }

  .product__item__description {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {

  .product__item {
    min-width: 264px;
    margin-right: 20px;
    padding: 20px;
  }

  .product__item__image {
    max-width: 126px;
    min-height: 120px;
  }
}