.hero__container {
  padding-top: 146px;
  padding-bottom: 200px;
}

.hero__title {
  font-size: 40px;
  max-width: 680px;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .hero__container {
    padding: 140px 15px 200px 15px;
  }
}

@media screen and (max-width: 1024px) {
  .hero__title {
    font-size: 36px;
  }

  .hero__container {
    padding: 100px 15px 170px 15px;
  }
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 24px;
  }

  .hero__container {
    padding: 60px 15px 150px 15px;
  }
}

@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 19px;
  }

  .hero__container {
    padding: 20px 15px 120px 15px;
  }
}