.compressor__container {
  padding-top: 45px;
  padding-bottom: 50px;
}

.compressor__title {
  font-size: 30px;
}

.compressor__card {
  display: flex;
  justify-content: space-between;
}

.image-wrap--compressor,
.feature--compressor {
  border: 1px solid #e2e2e2;
  border-radius: 1px;
}

.image-wrap--compressor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  position: relative;
  margin-right: 20px;
  width: 60%;
}

.image-wrap--compressor::before,
.image-wrap--compressor::after {
  border: 1px solid #e2e2e2;
  min-width: 64px;
  min-height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
}

.image-wrap--compressor::before {
  content: url(../../img/arrow-left.png);
  left: 20px;
}

.image-wrap--compressor::after {
  content: url(../../img/arrow-right.png);
  right: 20px;
}

.card__image--compressor {
  max-width: 315px;
  max-height: 290px;
  margin: 0 51px;
}

.card__image__counter {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  top: 35px;
  left: 35px;
  color: #e2e2e2;
}

.card__image__counter::first-letter {
  font-size: 30px;
  color: #1e1e1e;
  font-weight: normal;
}

.features {
  padding: 20px 50px 40px 48px;
  flex-grow: 1;
}

.features__description {
  padding-left: 23px;
  margin-bottom: 60px;
}

.title--plus::before {
  content: "+";
  display: inline-block;
  border-radius: 50%;
  min-width: 25px;
  height: 25px;
  margin-right: 10px;
  color: #ffffff;
  background-color: #ff7a00;
  text-align: center;
  font-size: 24px;
  font-family: Roboto;
}

.title--minus::before {
  content: "-";
  display: inline-block;
  border-radius: 50%;
  min-width: 25px;
  height: 25px;
  margin-right: 10px;
  color: #ffffff;
  background-color: #1e1e1e;
  text-align: center;
  font-size: 24px;
  line-height: 18px;
  font-family: Roboto;
}

.title--plus {
  color: #ff7a00;
  opacity: 0.5;
}

.title--minus {
  opacity: 0.5;
}

.description__minus {
  list-style: disc;
  margin-bottom: 95px;
}

.compressor__mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .compressor__container {
    padding: 45px 15px 50px 15px;
  }
}

@media screen and (max-width: 1024px) {
  .compressor__container {
    padding: 30px 15px;
  }

  .compressor__title {
    text-align: center;
    font-size: 24px;
  }

  .compressor__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .image-wrap--compressor {
    max-width: 585px;
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }

  .features {
    max-width: 585px;
  }

  .image-wrap--compressor,
  .feature--compressor {
    border-radius: 3px;
  }
}

@media screen and (max-width: 768px) {
  .compressor__container {
    padding: 20px 15px;
  }

  .image-wrap--compressor {
    flex-grow: 1;
  }

  .card__image--compressor {
    width: 60%;
  }

  .image-wrap--compressor,
  .feature--compressor {
    border-radius: 5px;
  }
}

@media screen and (max-width: 640px) {
  .compressor__title {
    font-size: 20px;
  }

  .image-wrap--compressor::before {
    content: none;
  }

  .image-wrap--compressor::after {
    content: none;
  }

  .card__image__counter::first-letter {
    font-size: 24px;
  }

  .card__image--compressor {
    width: 60%;
  }

  .image-wrap--compressor,
  .feature--compressor {
    border-radius: 7px;
  }
}

@media screen and (max-width: 480px) {
  .image-wrap--compressor {
    flex-grow: 1;
  }

  .feature--compressor,
  .compressor__subtitle,
  .compressor__description {
    display: none;
  }

  .card__image__counter::first-letter {
    font-size: 18px;
  }

  .image-wrap--compressor,
  .features {
    box-shadow: 0px 0px 30px rgba(188, 188, 188, 0.25);
    border-radius: 10px;
  }

  .compressor__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 0px 30px rgba(188, 188, 188, 0.25);
    border-radius: 10px;
    padding: 20px;
  }

  .mobile__button {
    border-radius: 30px;
    width: 232px;
  }

  .mobile__description--end {
    margin-bottom: 40px;
  }

  .mobile__description {
    font-size: 14px;
    line-height: 19px;
    color: #6d6d6d;
  }

  .mobile__subtitle {
    align-self: start;
  }
}

@media screen and (max-width: 320px) {
  .card__image--compressor {
    max-width: 148px;
    min-height: 140px;
  }

  .card__image__counter::first-letter {
    font-size: 14px;
  }

  .card__image__counter {
    font-size: 12px;
    top: 20px;
    left: 20px;
  }

  .card__image-wrap--compressor {
    flex-grow: 0;
  }

  .description--compressor {
    flex-grow: 0;
    padding: 20px 15px;
  }

  .compressor__title {
    text-align: left;
  }
}
