.choice {
  background-color: var(--background-color-black);
  color: var(--color-text-white);
}

.choice__container {
  padding-top: 109px;
  padding-bottom: 140px;
}

.choice__adaptive {
  display: none;
  width: 70%;
}

.choice-wrap {
  display: flex;
  justify-content: space-between;
}

.choice-content-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 20px;
  flex-grow: 1;
}

.choice__background {
  position: absolute;
  top: 2%;
}

.choice__background__text {
  font-weight: bold;
  font-size: 69px;
  color: var(--background-color-black);
  -webkit-text-stroke: 1px #3F3F3F;
}

.choice__title {
  position: relative;
  z-index: 5;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  margin-bottom: 20px;
}

.choice__subtitle {
  font-weight: bold;
  font-size: 20px;
}

.list-features {
  margin-bottom: 35px;
  list-style: url(../../img/marker.png);
  padding-left: 20px;
}

.list-features__item:not(:last-child) {
  margin-bottom: 5px;
}

.choice__image {
  max-width: 456px;
  min-height: 414px;
}

@media screen and (max-width: 1200px) {
  .choice__container {
    padding: 109px 15px 140px 15px;
  }
}

@media screen and (max-width: 1024px) {
  .choice__container {
    padding: 100px 15px 100px 15px;
  }

  .choice-wrap {
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
  }

  .choice-content-wrap {
    order: 1;
    align-items: center;
  }

  .choice__adaptive {
    display: block;
    position: relative;
  }

  .choice__background, .choice__title {
    display: none;
  }

  .adaptive__background {
    position: absolute;
    top: -16%;
  }
  
  .adaptive__background__text {
    font-weight: bold;
    font-size: 69px;
    color: var(--background-color-black);
    -webkit-text-stroke: 1px #3F3F3F;
  }

  .adaptive__title {
    position: relative;
    z-index: 5;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .choice__container {
    padding: 80px 15px 80px 15px;
  }

  .choice__image {
    max-width: 400px;
    min-height: 400px;
  }
}

@media screen and (max-width: 640px) {
  .choice__container {
    padding: 50px 15px 50px 15px;
  }

  .choice__image {
    max-width: 320px;
    min-height: 320px;
  }

  .choice__button {
    border-radius: 30px;
    width: 232px;
  }

  .adaptive__background__text {
    font-size: 55px;
  }

  .adaptive__title {
    font-size: 34px;
  }
}

@media screen and (max-width: 520px) {
  .choice__image {
    max-width: 270px;
    min-height: 270px;
  }

  .choice__adaptive {
    width: 80%;
  }

}

@media screen and (max-width: 480px) {
  .choice__container {
    padding: 30px 0;
  }

  .choice__image {
    max-width: 230px;
    min-height: 230px;
  }

  .choice__subtitle {
    font-size: 16px;
  }

  .choice__list {
    font-size: 14px;
  }

  .choice__adaptive {
    width: 100%;
  }

  .adaptive__background__text {
    font-size: 54px;
    width: max-content;
  }

  .choice-content-wrap {
    width: 90%;
  }

  .adaptive__title {
    margin-left: 20px;
    font-size: 30px;
  }

  .choice__button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .adaptive__title {
    font-size: 30px;
  }

  .choice__image {
    max-width: 192px;
    min-height: 177px;
  }

  .adaptive__background__text {
    width: max-content;
  }

  .choice-content-wrap {
    width: 90%;
  }

  .adaptive__background {
    position: absolute;
    top: -30%;
  }
}