.article-menu__container {
  padding-top: 110px;
  padding-bottom: 35px;
}

.article-menu-wrapper {
  display: flex;
}

.article-menu__title {
  font-size: 18px;
  color: #6d6d6d;
  margin-left: 20px;
  font-weight: normal;
  margin-bottom: 30px;
}

.article-menu__btn {
  position: relative;
  cursor: pointer;
  height: 20px;
  width: 10px;
  left: 0;
  top: 18px;
  z-index: 10;
  padding-right: 25px;
}

.article-menu__btn > span::before,
.article-menu__btn > span::after {
  display: block;
  position: absolute;
  background: #6d6d6d;
}

.article-menu__btn > span::before {
  content: '';
  width: 24px;
  height: 3px;
  top: 4px;
}
.article-menu__btn > span::after {
  content: '';
  width: 14px;
  height: 3px;
  top: 10px;
}

.article-menu__description {
  line-height: 20px;
  width: 95%;
}

@media screen and (max-width: 1200px) {
  .article-menu__container {
    padding: 110px 15px 35px 15px;
  }
}

@media screen and (max-width: 1024px) {
  .article-menu__container {
    padding: 100px 15px 35px 15px;
  }
}

@media screen and (max-width: 768px) {
  .article-menu__container {
    padding: 50px 15px 35px 15px;
  }
  .article-menu__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .article-menu__container {
    padding: 30px 15px;
  }
  .article-menu__description {
    font-size: 14px;
  }
}